@font-face {
  font-family: "iconfont"; /* Project id 3841623 */
  src: url('//at.alicdn.com/t/c/font_3841623_6jnq8oglx5u.woff2?t=1672208449225') format('woff2'),
       url('//at.alicdn.com/t/c/font_3841623_6jnq8oglx5u.woff?t=1672208449225') format('woff'),
       url('//at.alicdn.com/t/c/font_3841623_6jnq8oglx5u.ttf?t=1672208449225') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e8d6";
}

.icon-users:before {
  content: "\e601";
}

.icon-mechanism1:before {
  content: "\ea2c";
}

.icon-list:before {
  content: "\e600";
}

.icon-mechanism:before {
  content: "\e62c";
}
